[Unit]
Description = Start Jupyter notebook server after reboot
After = multi-user.target

#[Timer]
#OnBoot = 30

[Service]
#Type=forking
User=pi
#WorkingDirectory = /home/pi/notebooks/MyOpticsLab/Measurement/
ExecStart=/home/pi/berryconda3/bin/jupyter notebook &

[Install]
WantedBy = multi-user.target
