[Unit]
Description = Start Mega Sync Client after reboot
After = multi-user.target

#[Timer]
#OnBoot = 30

[Service]
#Type=forking
User=pi
#WorkingDirectory = /home/pi/notebooks/MyOpticsLab/Measurement/
ExecStart=/usr/bin/mega-cmd &

[Install]
WantedBy = multi-user.target
